.shopping {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 45px;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fdf1f1;
  width: 100%;
  margin: 100px auto;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* position: relative;
  top: 400px; */
}

.productshop {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 100%;
}

.productshop:hover {
  transform: translateY(-5px);
}

.thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.thumbnail img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.details {
  margin-top: 10px;
  text-align: center;
  color: #333;
}

.details b {
  font-size: 1rem;
  color: #222;
  margin: 0 5px;
}

.details strike {
  display: block;
  color: #646464;
  font-size: 14px;
  font-weight: 300;
}

.details span {
  display: block;
  color: #28a745;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  top: 8px;
}

.product-info {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 8px;
  position: relative;
  left: 95px;
}

.rating {
  font-weight: 550;
  color: #f4b400;
}
.rating svg {
  position: relative;
  top: -2px;
}
.stock {
  font-weight: 500;
  color: #000000;
  font-size: 15px;
}

button {
  margin: 8px 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

#btn1 {
  background-color: #007bff;
  color: white;
}
#btn2 {
  background-color: red;
  color: white;
}
