.Landingpage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 40px;
  gap: 80px;
}

.Landingpage a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.Landingpage a:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.Landingpage img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.Landingpage h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}
